<div class="container">
    <br>
    <h4>Agrega las Asignaturas</h4>
    <form action="/profesores/agregar" method="POST">
    <center>
<h1>PROFESORES</h1> 
    </center>
    <ul></ul>

<div>
    <FONT COLOR="lime">
    <label for="RFC">RFC</label>
    <input type="text" name="RFC" placeholder="RFC" id="RFC"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="nombres">Nombres</label>
    <input type="text" name="nombres" placeholder="nombre(s)" id="nombres"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="paterno">Paterno</label>
    <input type="text" name="paterno" placeholder="A. Paterno" id="paterno"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="materno">Materno</label>
    <input type="text" name="materno" placeholder="A. Materno" id="materno"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" name="fechaNacimiento" id="fechaNacimiento"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="direccion">Direccion</label>
    <input type="text" name="direccion" placeholder="Direccion del Profesor" id="direccion"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="celular">Celular</label>
    <input type="text" name="celular" placeholder="Numero de Celular" id="celular"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="profesion">Profesion</label>
    <input type="text" name="profesion" placeholder="Profesion" id="profesion"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="numeroEmpleado">Numero de Empleado</label>
    <input type="text" name="numeroEmpleado" placeholder="Numero de Empleado" id="numeroEmpleado"
    class="form-control bg-dark text-white"
    /> 
    </FONT>
</div>

<center>
<button class="btn btn-success btn-sm mt-2">Agregar</button>
</center>
</form>
</div>