<div class="container">
    <br>
    <h4>Agrega a los Alumnos</h4>
    <form action="/alumnos/agregar" method="POST">
    <center>
<h1>ALUMNOS</h1>
    </center>
    <ul></ul>


<div>
    <FONT COLOR="lime">
    <label for="nombres">Nombre(s):</label>
    <input type="text" name="nombres" placeholder="Nombre(s)" id="nombre"
    class="form-control bg-dark text-white"/> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="aPaterno">Apellido Paterno:</label>
    <input type="text" name="aPaterno" placeholder="Apellido Paterno" id="aPaterno"
    class="form-control bg-dark text-white"/> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="aMaterno">Apellido Materno:</label>
    <input type="text" name="aMaterno" placeholder="Apellido Materno" id="aMaterno"
    class="form-control bg-dark text-white"/> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="fechaNac">Fecha de Nacimiento:</label>
    <input type="date" name="fechaNac" id="fechaNac"
    class="form-control bg-dark text-white"/> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="sexo">Sexo:</label>
    <select name="sexo" id="sexo"
    class="form-control bg-dark text-white"/> 
    <option value="Femenino">Femenino</option>
    <option value="Masculino">Masculino</option>
    </select>
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="celular">Numero Celular:</label>
    <input type="text" name="celular" placeholder="Celular" id="celular"
    class="form-control bg-dark text-white"/> 
    </FONT>
</div>

<div>
    <FONT COLOR="lime">
    <label for="direccion">Direccion:</label>
    <textarea name="direccion" id="direccion" cols="25" rows="2" placeholder="Direccion"
    class="form-control bg-dark text-white"></textarea>
    </FONT>
</div>

<center>
<button class="btn btn-success btn-sm mt-2">Agregar</button>
</center>
</form>
</div>