<nav class="navbar navbar-dark bg-dark" style="color: darkslategray;">
    <div class="container">
        

    <FONT FACE="Rough Anthem">
    <h1>Control Escolar</h1>
<!-- <img src="/icons/logo.png" class="w-75"> -->
</div>
    </div>

</nav>

   